/*------------------------Тело сайта----------------------------*/

.body {
    background-color: #F5F5F5;
}

.logo {
    color: #000000;
}

.list{
    list-style:none;
}

/*---------------------Навигация сайта------------------------*/

.site-nav .link{
    color:#212121;
}

.site-nav .link:hover, 
.site-nav .link:focus {
    color: #2196F3;
}

/*----------------------------Контакты-------------------------*/

.site-contact .contact-list {
    color: #757575;
} 

.site-contact .contact-list:hover,
.site-contact .contact-list:focus{
    color: #2196F3;
}

/*--------------------------Шапка сайта-----------------------*/
.site-title {
    color: ;
}

.button {
    background-color: #2196F3;
    color: #FFFFFF;
}

.button:hover,
.button:focus {

}

/*---------------------------Детали-----------------------------*/

.section-item .section-subtitle
.section-title{
    color: #212121;
}


.section-content {
    color: #757575;
}